.quote {
  display: grid;
  padding: 120px 120px 60px 120px;
  grid-template-areas:
  "photo title"
  "photo container-autor";
  grid-template-columns: minmax(min-content, 650px) minmax(min-content, 470px);
  column-gap: 80px;
}

@media (max-width: 900px) {
  .quote {
    padding: 60px 18px 40px 18px;
    grid-template-areas:
    "photo"
    "title"
    "container-autor";
    grid-template-columns: minmax(min-content, 284px);
    gap: 40px;
    justify-content: center;
  }
}
