.quote__title {
  grid-area: title;
  margin: 0;
  font-weight: 600;
  line-height: 1.29;
  font-size: 34px;
  letter-spacing: -0.5px;
}

@media (max-width: 900px) {
  .quote__title {
    letter-spacing: 1.26;
    font-size: 23px;
  }
}
