.higway__diagramma  {
  min-width: 100px;
  min-height: 40px;
  background-position: center;
  background-image: url(../../../images/green-fugure.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  z-index: 4;
  position: absolute;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .higway__diagramma {
    min-width: 70px;
    min-height: 28px;
    background-size: 70px 28px;
    bottom: 14px;
  }
}
