.description__background {
  grid-area: fon;
  background-image: url(../../../images/Placeholder.jpg);
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 900px) {
  .description__background {
   min-width: 254px;
   min-height: 348px;
   object-fit: fill;
   background-size: 254px 348px;
  }
}
