.slider-button {
    border: none;
    margin: 0;
    padding: 0;
    width: 50px;
    min-height: 50px;
    border-radius: 50px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
}

@media screen and (max-width: 1110px) {
    .slider-button {
        width: 24px;
        min-height: 24px;
        border-radius: 6px;
    }
}
