.switch {
 grid-area: switch;
 display: flex;
 gap: 22px;
 align-items: center;
 justify-content: end;
 align-self: end;
 justify-self: end;
}

@media (max-width: 900px) {
  .switch {
    display: none;
  }
}
