.footer {
  padding: 80px 120px 60px 120px;
  background-color: #EFEFEF;
  display: grid;
  grid-template-areas:
  "title switch"
  "form switch"
  "naming switch";
   row-gap: 50px;
}


@media (max-width: 900px) {
  .footer {
    padding: 60px 18px 25px 18px;
    grid-template-areas:
    "title"
    "form"
    "naming";
    grid-template-columns: minmax(min-content, 284px);
    row-gap: 40px;
    justify-content: center;
  }
}
